.App {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-image: linear-gradient(45deg,rgb(102, 156, 209),#7b6185 );
}

.container{
  padding-top: 10px;

}
h2{
  align-items: center;
  display: flex;
  font-size: 26px;
  
  justify-content: center;
}
.main-container{
 display: flex;

 border-radius: 2px;
  height:88vh;
  overflow: scroll;
}
.left-container{
width: 100%;
 border-radius: 2px;
 background-color: white;
}
.left-container-text{
  background-color:white;
}
.right-container{ 
  width: 100%;
 background-color: rgba(255, 255, 255,0.9);
  border: none;
  border-radius: 0.3rem;
  outline: none;
  font-size: 1.1rem;
  resize: vertical;
}

.button{
  padding: 4px 10px 4px 10px;
  margin: 7px;  
  font-weight: bold;
  width: 70px;
}
.button:active{
 list-style-type: none;
}

::-webkit-scrollbar{
  width: .3rem;
}
::-webkit-scrollbar-thumb{
 background-color: rgb(159, 149, 149);
 border-radius: .2rem;
}
.run{
  margin-left: 90px;
  margin-right: 10px;
}
.refresh{
  border: none;
  outline: none;
  font-size: 20px;
  width: 30px;
  background-color: white;
}


